agno==2.2.5
agno==2.2.2
beautifulsoup4==4.14.2
crawl4ai==0.7.6
crawl4ai==0.7.4
langchain==1.0.5
langchain_chroma==1.0.0
langchain_huggingface==1.0.1
playwright==1.55.0
pydantic==2.12.4
python-dotenv==1.2.1
PyYAML==6.0.3
reportlab==4.4.4
Requests==2.32.5
rich==14.2.0
streamlit==1.51.0
streamlit==1.49.1
supabase==2.24.0
tqdm==4.67.1
