# requirements.txt

# --- Core Frameworks ---
streamlit
agno==2.2.5

# --- Environment & Storage ---
python-dotenv
supabase
psycopg2-binary # For Postgres database connection

# --- Tools & Utilities (Let pip resolve versions) ---
beautifulsoup4
crawl4ai
langchain
langchain_chroma
langchain_huggingface
playwright
reportlab
requests
rich
tqdm
PyYAML
googlesearch-python
pycountry